body {
    display: grid;
    height: 100vh;
    grid-template:  100px 50px 500px auto / 1fr auto;
  }
  
  header {
    background: lightpink;
    padding: 5px;
    grid-column: 1 / 3;
  }
  .navigation{
    background: lightblue;
   
    grid-column: 1 / 3;
  }
  
  
  main {
    background: coral;
    grid-column: 1 / 2;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 2 / 3;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
  }
  
  main, .right-sidebar, .navigation {
    padding: 15px;
  }
  