body {
    display: grid;
    height: 100vh;
    grid-template:  auto auto 1fr auto / 1fr auto;
  }
  
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    background-color: rgb(131, 131, 216);
    gap: 3rem;
    
    grid-column: 1 / 2;
  }
  ul{
    list-style: none;
  }
  .navigation{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    gap: 3rem;
    background: black;
    grid-column: 1 / 2;
    padding: 1rem
    
  }
  nav a{
    text-decoration: none;
    color: white
    
  }
  
  main {
    
    place-self: center;
    border: 1px solid;
    width: 700px;
    
    grid-column: 1 / 2;
    padding: 1rem;
  }
  .cards{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }


  .card{
    height: fit-content;
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    grid-column: 1 / 2;

  }
  
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 2;
  }
  
  
  